.rooms {
  width: 100%;
  height: 100vh;
  background: #232323;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  overflow: hidden;
}
.room {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.room > img {
  width: 100%;
  height: 100%;
  opacity: 0.2;
  transition: all 1s;
}
.room > a {
  position: absolute;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bolder;
  color: tomato;
  opacity: 0;
}
